<h1>Cats upon cats!</h1>

<% unless current_user.nil? %>
  <h2> <%= "Hello, " + current_user.username %> </h2>
<% end %>
<%= render 'shared/errors' %>

<% unless current_user.nil? %>
  <form action="<%= session_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" value="delete" name="_method" />
    <input type="submit" value="logout">
  </form>
<% end %>

<ul>
  <% @cats.each do |cat| %>
    <li><a href="<%= cat_url(cat) %>"><%= cat.name %></a></li>
  <% end %>
</ul>

<a href="<%= new_cat_url %>">Create cat</a>
